<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.orderservice.repository.OrderMapper">

    <resultMap id="orderMap" type="com.ohgiraffers.orderservice.aggregate.Order">
        <id property="orderCode" column="ORDER_CODE"/>
        <result property="userId" column="USER_ID"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderTime" column="ORDER_TIME"/>
        <result property="totalOrderPrice" column="TOTAL_ORDER_PRICE"/>
        <collection property="orderMenus" ofType="com.ohgiraffers.orderservice.aggregate.OrderMenu">
            <id property="orderCode" column="ORDER_CODE"/>
            <id property="menuCode" column="MENU_CODE"/>
            <result property="orderAmount" column="ORDER_AMOUNT"/>
        </collection>
    </resultMap>

    <select id="selectOrdersByUserId" resultMap="orderMap" parameterType="string">
        SELECT
               A.ORDER_CODE
             , A.USER_ID
             , A.ORDER_DATE
             , A.ORDER_TIME
             , A.TOTAL_ORDER_PRICE
             , B.ORDER_CODE
             , B.MENU_CODE
             , B.ORDER_AMOUNT
          FROM TBL_ORDER2 A
          JOIN TBL_ORDER_MENU2 B ON (A.ORDER_CODE = B.ORDER_CODE)
         WHERE A.USER_ID = #{userId}
    </select>

</mapper>